body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body > header {
    background-color: orange;
    color: white;
}

body > footer {
    background-color: orange;
    padding: 16px;
    color: white;
    text-align: center;
}

#logo {
    margin: 0;
    font-family: "Fredoka One", sans-serif;
}

nav > ul {
    list-style: none;
}

nav > ul > li > a {
    color: white;
}

body > main > article {
    margin: auto;
    width: 70%;
}